import React from 'react';
import { Box, BoxProps } from '@mui/material';

type {{pascalCase name}}Props = {
	children?: React.ReactNode;
} & BoxProps;

export const {{pascalCase name}} =
	React.memo(
		React.forwardRef<BoxProps, {{pascalCase name}}Props>(
			function {{pascalCase name}}(_p, ref) {
				return (
					<Box ref={ref} {..._p}>
						<p>{{sentenceCase name}} works.</p>
						{_p.children}
					</Box>
				);
			}
		)
	);
